:root {
  --oxfordBlueDk: #021027;
  --oxfordBlue: #031d44;
  --indigoDye: #04395e;
  --airSuperiorityBlue: #6595af;
  --blizzardBlue: #c5f1ff;
  --slimyGreen: #2f9931;
  --limeGreen: #3ae01d;
  --lightGreen: #82eb6f;
}

body {
  background-color: var(--oxfordBlueDk);
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: var(--slimyGreen);
  padding: 0.5%;
}

.App-link {
  color: var(--limeGreen);
}

.logo path{
  width: 150%;
  stroke: var(--blizzardBlue);
  stroke-width: 7px;
  fill: none;
  stroke-dashoffset: 3000;
  stroke-dasharray: 2900;
  animation: draw 6.56s forwards;
  box-shadow: var(--oxfordBlueDk);
}

.logo .delay {
  animation-direction: normal, reverse;
  animation-delay: 1.8s;
}

.logo .merlyn {
  animation-delay: 1.82s;
  animation-duration: 4.75s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.nav-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20% 0 20% 5%;
  background: var(--oxfordBlue);
  z-index: 10;
}

.nav-wrapper a {
  display: block;
  text-align: left;
  font-size: 4rem;
  color: var(--lightGreen);
  text-decoration: none;
  transition: 0.3s ease border;
  border-bottom: solid 4px transparent;
}

.nav-wrapper a:hover {
  border-bottom: solid 4px var(--airSuperiorityBlue);
}

.menu-button {
  float: right;
  appearance: none;
  border: solid 1px transparent;
  color: var(--lightGreen);
  font-weight: bold;
  font-size: 2rem;
  background: transparent;
  z-index: 15;
  width: 10%;
}

h1 {
  color: var(--lightGreen);
  font-size: 3rem;
}

.checkout {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}
.checkout-left {
  width: 30%;
  height: 100%;
  background: var(--indigoDye);
}
.checkout-right {
  width: 70%;
  height: 100%;
  background: var(--slimyGreen);
}